<link rel="stylesheet" href="/filehost/css/footer.css">

<footer>
    <p>Mit Liebe gemacht von der <a href="https://www.stuve.uni-konstanz.de/kontakt/stuve-it/">StuVe IT</a></p>
    <div>
        <a href="/datenschutz">Datenschutzerklärung</a>
        <a href="/impressum">Impressum</a>
    </div>
</footer>
<link rel="stylesheet" href="/filehost/css/mobile.css">
