<link rel="stylesheet" href="/filehost/css/footer.css">

<footer>
    <p>Mit Liebe gemacht von der <a href="https://www.stuve.uni-konstanz.de/kontakt/stuve-it/" target="_blank">StuVe IT</a></p>
    <div>
        <a href="https://www.stuve-uni-kn.de/datenschutz">Datenschutzerklärung</a>
        <a href="https://www.stuve-uni-kn.de/impressum">Impressum</a>
    </div>
</footer>
<link rel="stylesheet" href="/filehost/css/mobile.css">
