<link rel="stylesheet" href="/filehost/css/header.css">
<link rel="stylesheet" href="/filehost/css/header-mobile.css">

<header class="site-header">
    <div class="banner" role="banner">
        <div class="header-title">
            <a href="/"><%= title %></a>
            <p>
                Schon von <%- include('user-counter') %> Studis benutzt!
            </p>
        </div>
        <a id="header-logo" href="https://stuve.uni-konstanz.de" target="_blank" class="logo-large">
            <img id="logo" class="uni-logo" alt="StuVe Konstanz" src="/filehost/images/stuve_logo.png" width="737" height="283">
        </a>
    </div>
</header>
