<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title>Wahl-O-Mat</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <h2>Willkommen bei dem Wahl-O-Mat!</h2>
            <h3>Uniwahlen 2024</h3>

            <section>
                <a class="link-block" href="/omat">Los geht's</a>
            </section>
        </div>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>
