<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title>Wahl-O-Mat Übersicht</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <link rel="stylesheet" href="/filehost/css/omat-overview.css">

    <script>
        const answers = <%- JSON.stringify(answers) %>;
        let theses = [];
    </script>
    <script src="/filehost/js/omat-overview-logic.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="qa-sideflex">
            <section class="qa-sidebar">
                <h4>Alle Thesen</h5>
                <ul class="qa-theses">
                    <!-- Filled by script -->
                </ul>
            </section>

            <div class="qa card">
                <h1>Gewichtung der Thesen</h1>
                <p>Schau dir nochmal die Thesen an und markiere die Thesen, die mit doppelter Gewichtung ins Endergebnis einfließen sollen.</p>

                <div class="btn-box space-between">
                    <button onclick="edit()">< Bearbeiten</button>
                    <button onclick="finish()">Ergebnisse ></button>
                </div>

                <div class="qa-chekboxes">
                    <!-- Filled by script -->
                </div>
                <div class="btn-box space-between">
                    <button onclick="edit()">< Bearbeiten</button>
                    <button onclick="finish()">Ergebnisse ></button>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
