.percentage {
    box-sizing: border-box;

    display: block;
    padding: 1em;
    font-weight: var(--bold-weight);
    background-color: var(--accent);
}

div.card {
    width: 100%;
}

div.card > div.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

div.card-header-buttons {
    margin: 0;
}

p.card-description {
    margin: .4em 0;
}

.share-button {
    margin: 0;
    background-color: transparent;
    border: none;
}

.share-button > img {
    min-width: 24px;
    width: 1.8em;
}

#result {
    display: flex;
    flex-direction: column;

    gap: .2em;
}

#result > * {
    flex: 1;
}

#result > details.party {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

#result > details.party > summary {
    font-weight: var(--bold-weight);

    cursor: pointer;
}

div.percentage-container {
    display: grid;
    grid-template-columns: 1fr 3em;
    margin: .5em 0;
    gap: 1em;
    justify-content: space-between;
}

div.percentage-container > span.percentage {
    width: 0;

    transition: width 2s;
}

div.percentage-container > p.percentage-text {
    margin: 0;
    font-weight: var(--bold-weight);
    min-width: 5em;
    
    text-wrap: nowrap;
}

.vote-answer {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.vote-answer > * {
    margin: 0;
}

.vote-answer.positive::before {
    content: '';

    width: 1.5em;
    height: 1.5em;
    background-color: var(--positive);
}

.vote-answer.positive > p {
    color: var(--positive);
}

.vote-answer.neutral:before {
    content: ' ';

    width: 1.5em;
    height: 1.5em;
    background-color: var(--neutral);
}

.vote-answer.neutral > p {
    color: var(--neutral);
}

.vote-answer.negative:before {
    content: ' ';

    width: 1.5em;
    height: 1.5em;
    background-color: var(--negative);
}

.vote-answer.negative > p {
    color: var(--negative);
}
